/*

INDEX

*/

.bgInicio {
    margin: 0;
    background: url(../multimedia/Imágenes/background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hInicio {
    font-family: 'Abril Fatface';
    font-size: 50px;
    border: 2px solid $negro;
    padding: 20px;
    text-align: center;
    color: $negro;
    h1 {
        margin: 0;
        padding: 30px;
    }
    h2 {
        margin: 0;
        padding: 30px;
    }
    transition: all 0.5s ease;
    &:hover {
        cursor: pointer;
        color: $blanco;
        background: rgba(71, 79, 150, 0.5);
    }
}