@charset "UTF-8";
/* Estilos en el header */
* {
  margin: 0;
  padding: 0;
}

/* Aplicando GRID */
.gridContainer,
.gridInicio {
  background-color: #051218;
  width: 90%;
  max-width: 1000px;
  margin: 1.6em auto;
  display: -ms-grid;
  display: grid;
  gap: 1.6em;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

/* INICIO */
.gridInicio > .contenidoUno,
.gridInicio > .seccionUno,
.gridInicio > .seccionDos,
.gridInicio > .footer,
.gridInicio > div {
  background: #5a5c6a;
  padding: 20px;
}

.gridInicio > .contenidoUno,
.gridInicio > .footer {
  grid-column: span 5;
  background-color: #051218;
  color: #fff;
}

.gridInicio > .seccionUno {
  grid-column: span 2;
}

.gridInicio > .seccionDos {
  grid-column: span 3;
}

.seccionDos {
  background-color: #5a5c6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gridInicio > .seccionDos img {
  margin-top: 5px;
  grid-column: span 2;
}

.gridInicio > .publicidad {
  background: #5a5c6a;
  color: white;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gridInicio > .publicidad:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.publicidad {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* código para aplicar en ventanas de publicidad 

opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
    
    */
.seccionUno article h1 p {
  padding: 20px;
}

.seccionUno > article {
  background: #468a89;
  padding: 20px;
  margin-top: 5px;
  color: black;
}

/* FORMACIÓN */
.gridContainer {
  padding: 20px;
}

.gridContainer header {
  padding: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  background-color: #051218;
  color: white;
  text-align: center;
}

.gridContainer main {
  padding: 20px;
  background: #5a5c6a;
  grid-column: span 3;
}

.gridContainer main article {
  background: #468a89;
  padding: 20px;
  margin-top: 5px;
  color: black;
}

.gridContainer main article h1 {
  padding: 10px;
}

.gridContainer main article p {
  padding: 10px;
}

.gridContainer aside {
  padding: 20px;
  grid-column: span 2;
  background: #5a5c6a;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gridContainer aside img {
  width: 100%;
  margin-top: 5px;
}

.gridContainer .postRelacionados {
  padding: 20px;
  background: #5a5c6a;
  color: black;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gridContainer .postRelacionados:hover {
  cursor: pointer;
  color: white;
  background: black;
}

.gridContainer footer {
  padding: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  background-color: #051218;
  height: 90px;
}

/* .gridContainer>.titleHeader,
.gridContainer>.contenido,
.gridContainer>.aside,
.gridContainer>.footer,
.gridContainer>div {
    background: $ceniza;
    padding: 20px;
}

.gridContainer>.titleHeader,
.gridContainer>.footer {
    grid-column: 1/6;
    background-color: $negro;
}

.gridContainer>.contenido {
    background: $gris;
    grid-column: span 3;
}

.gridContainer>.aside {
    grid-column: span 2;
    background: $gris;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gridContainer>.aside img {
    width: 100%;
    margin-top: 5px;
}

.gridContainer>.postRelacionados {
    background: $gris;
    color: black;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.gridContainer>.postRelacionados:hover {
    cursor: pointer;
    color: white;
    background: black;
}

.contenido>.article {
    background: $ceniza;
    padding: 20px;
    margin-top: 5px;
    color: black;
}

.contenido .article h1,
.contenido .article p {
    padding: 10px;
} */
/* RESPONSIVE Tablets */
@media screen and (max-width: 768px) {
  .titleHeader {
    text-align: center;
  }
  .header {
    text-align: center;
    margin: 90px;
  }
  .gridContainer .contenido {
    grid-column: 1/-1;
  }
  .gridContainer .aside {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  .gridContainer .postRelacionados {
    grid-column: 1/-1;
  }
}

/* FIN */
.article__uno {
  background-color: white !important;
}

.article__uno--título {
  font-size: 30px;
}

.article__uno .article--p2 {
  color: tomato;
}

.header {
  color: black;
}

.header h1 {
  margin: 10px 0px;
  padding: 20px;
}

ul {
  list-style: none;
}

ul li {
  position: relative;
  display: inline-block;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px 50px;
  width: 100px;
}

ul li a {
  text-decoration: none;
  color: black;
}

.navegacion {
  width: 100%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*  */
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 2px;
}

/* Estilos de Body  */
body {
  background: radial-gradient(black 3px, transparent 4px), radial-gradient(black 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

/* ETIQUETAS INICIO */
.contenidoUno {
  color: white;
  margin: 0.5rem;
  padding: 4rem;
}

/* Estilos de formulario (usados para desafíos complementarios) */
form {
  background-color: #5a5c6a;
  font-style: inherit;
  line-height: 1.6;
}

legend {
  text-align: center;
  font-weight: bolder;
}

label {
  font-weight: bolder;
}

/* Estilos para footer */
.footer {
  color: white;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .footer__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__título {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__redes--facebook:hover, .footer .footer__redes--twitter:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 42px;
}
/*# sourceMappingURL=main.css.map */