/* Estilos en el header */

* {
    margin: 0;
    padding: 0;
}


/* Aplicando GRID */

.gridContainer,
.gridInicio {
    background-color: #124766;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}


/* INICIO */

.gridInicio>.contenidoUno,
.gridInicio>.seccionUno,
.gridInicio>.seccionDos,
.gridInicio>.footer,
.gridInicio>div {
    background: #efca69;
    padding: 20px;
}

.gridInicio>.contenidoUno,
.gridInicio>.footer {
    grid-column: span 5;
    background-color: #124766;
    color: #fff;
}

.gridInicio>.seccionUno {
    grid-column: span 2;
}

.gridInicio>.seccionDos {
    grid-column: span 3;
}

.seccionDos {
    background-color: #efca69;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gridInicio>.seccionDos img {
    margin-top: 5px;
    grid-column: span 2;
}

.gridInicio>.publicidad {
    background: #efca69;
    color: white;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.gridInicio>.publicidad:hover {
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}

.publicidad {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* código para aplicar en ventanas de publicidad 

opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
    
    */

.seccionUno article h1 p {
    padding: 20px;
}

.seccionUno>article {
    background: #f8efd4;
    padding: 20px;
    margin-top: 5px;
    color: black;
}


/* FORMACIÓN */

.gridContainer>.titleHeader,
.gridContainer>.contenido,
.gridContainer>.aside,
.gridContainer>.footer,
.gridContainer>div {
    background: #f8efd4;
    padding: 20px;
}

.gridContainer>.titleHeader,
.gridContainer>.footer {
    grid-column: 1/6;
    background-color: #124766;
}

.gridContainer>.contenido {
    background: #efca69;
    grid-column: span 3;
}

.gridContainer>.aside {
    grid-column: span 2;
    background: #efca69;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gridContainer>.aside img {
    width: 100%;
    margin-top: 5px;
}

.gridContainer>.postRelacionados {
    background: #efca69;
    color: black;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.gridContainer>.postRelacionados:hover {
    cursor: pointer;
    color: white;
    background: black;
}

.contenido>.article {
    background: #f8efd4;
    padding: 20px;
    margin-top: 5px;
    color: black;
}

.contenido .article h1,
.contenido .article p {
    padding: 10px;
}


/* RESPONSIVE Tablets */

@media screen and (max-width: 768px) {
    .titleHeader {
        text-align: center;
    }
    .header {
        text-align: center;
        margin: 90px;
    }
    .gridContainer .contenido {
        grid-column: 1/-1;
    }
    .gridContainer .aside {
        grid-column: 1/6;
    }
    .gridContainer .postRelacionados {
        grid-column: 1/-1;
    }
}


/* FIN */

.header {
    color: black;
}

ul {
    list-style: none;
}

header h1 {
    margin: 10px 0px;
    padding: 20px;
}

.navegacion {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

ul li {
    position: relative;
    display: inline-block;
    justify-content: space-around;
    margin: 0px 50px;
    width: 100px;
}

a {
    text-decoration: none;
    color: black;
}


/*  */

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 2px;
}


/* Estilos para encabezados */

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}


/* Estilos de Body  */

body {
    background: radial-gradient(black 3px, transparent 4px), radial-gradient(black 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}


/* ETIQUETAS INICIO */

.contenidoUno {
    color: white;
    margin: 0.5rem;
    padding: 4rem;
}


/* Estilos de formulario (usados para desafíos complementarios) */

form {
    background-color: #efca69;
    font-style: inherit;
    line-height: 1.6;
}

legend {
    text-align: center;
    font-weight: bolder;
}

label {
    font-weight: bolder;
}


/* Estilos para footer */

.footer {
    color: white;
    margin: auto;
    padding: 64px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.row {
    background-color: #124766;
}

.headFooter,
.spanFooter {
    display: flex;
    justify-content: center;
}

.redesSociales {
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.fbIcon:hover,
.twIcon:hover,
.igIcon:hover,
.liIcon:hover {
    transition: 0.5s;
    width: 42px;
}