@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Satisfy&display=swap');

/* 

BANNER

*/

.banner {
    position: relative;
    width: 100%;
    height: calc(50vh - 110px);
    background-color: $ceniza;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url(../../multimedia/Imágenes/banner1.jpg);
    animation: banner 28s infinite linear;
    &-content {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        color: $blanco;
        background-color: rgba(0, 22, 40, .6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            margin: 0;
            padding: 0;
            padding-bottom: 30px;
            font-size: 40px;
            text-align: center;
            font-family: 'Libre Baskerville', serif;
        }
        // BOTÓN
        a {
            text-decoration: none;
            color: $blanco;
            font-weight: bolder;
            padding: 9px 20px;
            border: 1px $blanco solid;
            border-radius: 25px;
            transition: all .2s ease-in-out;
            &:hover {
                background-color: $blanco;
                color: $ceniza;
            }
        }
    }
}

@keyframes banner {
    0% {
        background-image: url(../../multimedia/Imágenes/banner1.jpg);
    }
    25% {
        background-image: url(../../multimedia/Imágenes/banner1.jpg);
    }
    26% {
        background-image: url(../../multimedia/Imágenes/banner2.jpg);
    }
    50% {
        background-image: url(../../multimedia/Imágenes/banner2.jpg);
    }
    51% {
        background-image: url(../../multimedia/Imágenes/banner3.jpg);
    }
    75% {
        background-image: url(../../multimedia/Imágenes/banner3.jpg);
    }
    76% {
        background-image: url(../../multimedia/Imágenes/banner4.jpg);
    }
    100% {
        background-image: url(../../multimedia/Imágenes/banner4.jpg);
    }
}