/*

EMPLEOS


*/


/* 

EMPLEOS

*/

* {
    margin: 0;
    padding: 0;
}

*:focus,
 :active {
    outline: 0;
}

body {
    font: .9em Georgia, "Times New Roman", Sans-Serif;
    background: $blanco;
    color: $negro;
}

a {
    color: $ceniza;
    text-decoration: none;
}

img {
    border: 0;
}

h2 {
    font-size: 2.4em;
    font-weight: normal;
    margin: 0 0 20px;
}

h2 a:hover {
    background: $celeste;
    color: $blanco;
}

.hr {
    color: $gris;
}

p {
    margin: 5px 0 15px;
    line-height: 1.6em;
}

#content {
    margin: 0 auto;
    width: 900px;
}

#intro {
    clear: both;
    padding: 15px 0 1px 20px;
    border: 1px solid #dedede;
    font-size: 1.3em;
    background: #eee;
    margin: 0 0 30px;
}

#left {
    float: left;
    width: 500px;
    margin: 0 0 15px;
}

#right {
    float: right;
    width: 280px;
}

#right h3 {
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px;
}

#right img {
    margin: 0 3px 3px 0;
    border: 2px solid #eee;
    padding: 2px;
    width: 40px;
    height: 40px;
}

#right li {
    list-style: none;
}

#right li a {
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 5px 5px;
}

#footer {
    clear: both;
    padding: 15px 0;
    border-top: 1px solid #ccc;
}

#r {
    float: right;
}