@import "_paletaColores.scss";

/* 

FOOTER 

*/

$negro: #051218;
$gris: #5a5c6a;
$ceniza: #468a89;
$celeste: #55a293;
$blanco: #f8f9f4;
$negroTransparente: rgba(0, 0, 0, 0.7);
* {
    margin: 0;
    padding: 0;
}

.header {
    color: black;
    h1 {
        margin: 10px 0px;
        padding: 20px;
    }
}

ul {
    list-style: none;
    li {
        position: relative;
        display: inline-block;
        justify-content: space-around;
        margin: 0px 50px;
        width: 100px;
        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            padding: 2px;
        }
    }
}

.navegacion {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.footer {
    background: $celeste;
    color: $blanco;
    height: 400px;
    position: relative;
    &-content {
        height: 350px;
        max-width: 1200px;
        padding: 20px;
        text-align: justify;
        margin: auto;
        h2 {
            text-align: center;
        }
    }
    &-section {
        padding: 20px;
    }
    &-bottom {
        background: $ceniza;
        color: $gris;
        height: 50px;
        position: absolute;
        padding-top: 20px;
        width: 100%;
        text-align: center;
    }
}

.contactForm {
    margin: 20px 0 20px;
    #email,
    #mensaje {
        background: $negroTransparente;
        color: $blanco;
    }
    .btn__contacto {
        background: $gris;
        color: $celeste;
        text-transform: uppercase;
        font-weight: bolder;
        transition: all 0.5s;
        &:hover {
            background-color: $blanco;
            color: $gris;
        }
    }
}

.links,
.about {
    margin: 20px 0 20px;
}

ul {
    gap: 5px;
    li {
        margin: 5px;
        width: 25%;
        color: $celeste;
        text-decoration: none;
        &:hover {
            color: $gris;
        }
    }
}

#izzi {
    text-transform: uppercase;
    color: $ceniza;
}