* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NAVBAR */

.iSection {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex !important;
    /* IMAGEN */
    .imgIndex {
        position: relative;
        width: 50%;
        height: 100%;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(225deg, #08b9c5, #f8f8f8);
            z-index: 1;
            mix-blend-mode: screen;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    /* LOGIN */
    .logIn {
        display: flex;
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        .formLogin {
            width: 50%;
            h2 {
                color: $celeste;
                font-weight: 600;
                font-size: 1.5em;
                text-transform: uppercase;
                margin-bottom: 20px;
                border-bottom: 4px solid $ceniza;
                display: inline-block;
                letter-spacing: 1px;
            }
            .recordarme {
                margin-bottom: 10px;
                color: $gris;
                font-weight: 400;
                font-size: 14px;
            }
            .inputLog p {
                color: $gris;
            }
        }
    }
}

.iSection .logIn .formLogin .inputLog {
    margin-bottom: 20px;
    span {
        font-size: 16px;
        margin-bottom: 5px;
        display: inline-block;
        color: $gris;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 1px;
    }
    input {
        width: 100%;
        padding: 10px 20px;
        outline: none;
        font-weight: 400;
        border: 1px solid grey;
        font-size: 16px;
        letter-spacing: 1px;
        color: $gris;
        background: transparent;
        border-radius: 30px;
        &[type="submit"] {
            background: $ceniza;
            color: $blanco;
            outline: none;
            border: none;
            font-weight: 500;
            cursor: pointer;
            transition: .4s all;
            &:hover {
                background: #2b6463;
            }
        }
    }
}

.iSection .logIn .formLogin .inputLog p a {
    color: $ceniza;
}

.iSection .logIn .formLogin h3 {
    color: $gris;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

.iSection .logIn .formLogin .sci {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iSection .logIn .formLogin .sci li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gris;
    border-radius: 50%;
    width: 50px !important;
    margin: 0 7px;
    cursor: pointer;
}

.iSection .logIn .formLogin .sci li:hover {
    background: $ceniza;
}

.iSection .logIn .formLogin .sci li img {
    transform: scale(0.5);
    filter: invert(1);
}

@media (max-width: 768px) {
    .iSection .imgIndex {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .iSection .logIn {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .iSection .logIn .formLogin {
        width: 100%;
        padding: 40px;
        background: rgba(255, 255, 255, .5);
        margin: 50px;
    }
    .iSection .logIn .formLogin h3 {
        color: $gris;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}