/* 

NOVEDADES 

*/

@media (max-width: 1280px) {
    .novedadesCont .novedades {
        grid-column: 1/-1;
    }
    .novedadesCont .sidebarNews {
        grid-column: 1/-1;
        margin-bottom: 20px;
    }
}

@media (max-width: 840px) {
    .contenidoNovedades {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 655px) {
    .contenidoNovedades {
        grid-template-columns: repeat(1, 1fr);
    }
    .sidebarNews {
        grid-column: 1/-1;
    }
}


/* 

 EMPLEOS

*/

@media screen and (max-width: 768px) {
    .titleHeader {
        text-align: center;
    }
    .header {
        text-align: center;
        margin: 90px;
    }
    .gridContainer .contenido {
        grid-column: 1/-1;
    }
    .gridContainer .aside {
        grid-column: 1/6;
    }
    .gridContainer .postRelacionados {
        grid-column: 1/-1;
    }
}


/*

REGISTRO

*/

@media (max-width: 1400px) {
    .contenedor {
        grid-template-areas: "head head" "aside aside" "form form";
        .formRegistro {
            margin: 30px auto;
        }
    }
}

@media (max-width: 940px) {
    .contenedor {
        grid-template-areas: "head head" "aside aside" "form form";
    }
}


/*

FOOTER

*/

@media screen and (max-width: 768px) {
    .footer-content {
        height: initial;
        background-color: $celeste;
        text-align: center;
    }
}


/*

SOBRE NOSOTROS

*/

@media screen and (max-width: 1024px) {
    .sobreNosotros .texto {
        width: 90%;
        margin-bottom: 20px;
        h1 {
            color: $celeste;
            font-size: 80px;
            text-transform: capitalize;
            margin-bottom: 20px;
        }
        div {
            text-align: center;
        }
    }
    .sobreNosotros .main {
        padding: 78px 0px;
        width: auto;
        max-width: 95%;
        margin: 0 auto;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
        .imgAbout img {
            width: 100%;
            height: 50vh;
        }
    }
}

@media screen and (max-width: 670px) {
    .sobreNosotros .main {
        .imgAbout img {
            width: 100%;
            height: 40vh;
        }
    }
}

@media only screen and (max-width: 767px) {
    .headerArea .headerTitle {
        width: 280px;
    }
}

.headerArea .headerTitle h2 {
    text-align: center;
    line-height: 110px;
    font-size: 36px;
    color: white;
}

@media only screen and (max-width: 767px) {
    .headerArea .headerTitle h2 {
        font-size: 24px;
    }
}