/* 

NOVEDADES 

*/

@media (max-width: 1280px) {
    .novedadesCont .novedades {
        grid-column: 1/-1;
    }
    .novedadesCont .sidebarNews {
        grid-column: 1/-1;
        margin-bottom: 20px;
    }
}

@media (max-width: 840px) {
    .contenidoNovedades {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 655px) {
    .contenidoNovedades {
        grid-template-columns: repeat(1, 1fr);
    }
    .sidebarNews {
        grid-column: 1/-1;
    }
}


/* 

 EMPLEOS

*/

@media screen and (max-width: 768px) {
    .titleHeader {
        text-align: center;
    }
    .header {
        text-align: center;
        margin: 90px;
    }
    .gridContainer .contenido {
        grid-column: 1/-1;
    }
    .gridContainer .aside {
        grid-column: 1/6;
    }
    .gridContainer .postRelacionados {
        grid-column: 1/-1;
    }
}


/*

REGISTRO

*/

@media (max-width: 1400px) {
    .contenedor {
        grid-template-areas: "head head" "aside aside" "form form";
        .formRegistro {
            margin: 30px auto;
        }
    }
}

@media (max-width: 940px) {
    .contenedor {
        grid-template-areas: "head head" "aside aside" "form form";
    }
}


/*

FOOTER

*/

@media screen and (max-width: 768px) {
    .footer-content {
        height: initial;
        background-color: $celeste;
        text-align: center;
    }
}