/* 

NOVEDADES 

*/

@media (max-width: 840px) {
    .contenidoNovedades {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 655px) {
    .contenidoNovedades {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* 

 EMPLEOS

*/

@media screen and (max-width: 768px) {
    .titleHeader {
        text-align: center;
    }
    .header {
        text-align: center;
        margin: 90px;
    }
    .gridContainer .contenido {
        grid-column: 1/-1;
    }
    .gridContainer .aside {
        grid-column: 1/6;
    }
    .gridContainer .postRelacionados {
        grid-column: 1/-1;
    }
}