* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*

NOVEDADES

*/

body {
    font-family: sans-serif;
}

.novedadesCont {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 20px;
    margin: auto;
    width: 90%;
}

.novedades {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.contenidoNovedades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
    .post {
        box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .2s;
        &Img1 {
            background: url("../../multimedia/Imágenes/noticia1.jpg");
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
            transition: .2s;
        }
        &Img2 {
            background: url("../../multimedia/Imágenes/noticia2.jpg");
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
            transition: .2s;
        }
        &Img3 {
            background: url("../../multimedia/Imágenes/noticia3.jpg");
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
            transition: .2s;
        }
        &Img4 {
            background: url("../../multimedia/Imágenes/noticia4.jpg");
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
            transition: .2s;
        }
        &Img5 {
            background: url("../../multimedia/Imágenes/noticia5.jpg");
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
            transition: .2s;
        }
        &Img6 {
            background: url("../../multimedia/Imágenes/noticia6.jpg");
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
            transition: .2s;
        }
        &Header {
            width: 100%;
            height: 200px;
            overflow: hidden;
            cursor: pointer;
        }
        &:hover {
            transform: translateY(-4px);
            .postImg1 {
                transform: scale(1.1);
            }
            .postImg2 {
                transform: scale(1.1);
            }
            .postImg3 {
                transform: scale(1.1);
            }
            .postImg4 {
                transform: scale(1.1);
            }
            .postImg5 {
                transform: scale(1.1);
            }
            .postImg6 {
                transform: scale(1.1);
            }
        }
        &Body {
            padding: 15px;
            text-align: center;
            span {
                display: inline-block;
                color: $celeste;
                margin-bottom: 10px;
            }
            h2 {
                margin-bottom: 15px;
            }
            p {
                line-height: 1.5;
                margin-bottom: 20px;
            }
        }
    }
}

.sidebarNews {
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
    padding: 30px 15px;
    height: 100%;
    justify-content: center;
    grid-gap: 20px;
    margin: auto;
    background: $ceniza;
    .post {
        box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .4);
        overflow: hidden;
        color: $blanco;
        transition: .2s;
        &Bodybg1 {
            background: url("../../multimedia/Imágenes/aside1.jpg");
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
        }
        &Bodybg2 {
            background: url("../../multimedia/Imágenes/aside2.jpg");
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
        }
        &Bodybg3 {
            background: url("../../multimedia/Imágenes/aside3.jpg");
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
        }
        &Body {
            padding: 15px;
            height: 30vh;
            h2 {
                color: $blanco;
                text-decoration: none;
                width: 60%;
                text-align: left;
                text-transform: uppercase;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                &:hover {
                    transform: translateY(-4px);
                }
            }
        }
    }
    h1 {
        font-size: 48px;
        font-weight: bolder;
        font-family: monospace;
        text-align: right;
        height: 60px;
    }
}


/* 

BOTONES LINKS ENLACES

*/

.postBody .btnEnlace {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: $gris;
    color: $celeste;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
    transition: .3s;
    &:hover {
        background-color: $celeste;
        color: $blanco;
        box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
        transform: translateY(-2px);
    }
}

@import "_mediaQueries";

/* 

BANNER

*/

.banner {
    position: relative;
    width: 100%;
    height: calc(50vh - 110px);
    background-color: $ceniza;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url(../../multimedia/Imágenes/banner1.jpg);
    animation: banner 28s infinite linear;
    &-content {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        color: $blanco;
        background-color: rgba(0, 22, 40, .6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            margin: 0;
            padding: 0;
            padding-bottom: 30px;
            font-size: 40px;
            text-align: center;
        }
        // BOTÓN
        a {
            text-decoration: none;
            color: $blanco;
            font-weight: bolder;
            padding: 9px 20px;
            border: 1px $blanco solid;
            border-radius: 25px;
            transition: all .2s ease-in-out;
            &:hover {
                background-color: $blanco;
                color: $ceniza;
            }
        }
    }
}

@keyframes banner {
    0% {
        background-image: url(../../multimedia/Imágenes/banner1.jpg);
    }
    25% {
        background-image: url(../../multimedia/Imágenes/banner1.jpg);
    }
    26% {
        background-image: url(../../multimedia/Imágenes/banner2.jpg);
    }
    50% {
        background-image: url(../../multimedia/Imágenes/banner2.jpg);
    }
    51% {
        background-image: url(../../multimedia/Imágenes/banner3.jpg);
    }
    75% {
        background-image: url(../../multimedia/Imágenes/banner3.jpg);
    }
    76% {
        background-image: url(../../multimedia/Imágenes/banner4.jpg);
    }
    100% {
        background-image: url(../../multimedia/Imágenes/banner4.jpg);
    }
}