/*

REGISTRO

*/

@import "_paletaColores.scss";
.contenedor {
    margin: 0px auto;
    width: auto;
    background: url("../../multimedia/Imágenes/registro.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    display: grid;
    grid-template-areas: "head head" " aside form" " aside form";
    grid-gap: 20px;
    .asideRegistro {
        padding: 20px;
        margin: 30px;
        border-radius: 3px;
        background: $negroTransparente;
        font-family: monospace;
        color: $blanco;
        grid-area: aside;
        .imgRegistro {
            margin: auto;
            text-align: center;
        }
        span {
            color: $celeste;
            font-weight: bolder;
        }
    }
    .formRegistro {
        background: $negroTransparente;
        width: 90%;
        max-width: 650px;
        margin: 30px;
        padding: 5px 35px;
        margin-top: 30px;
        padding-bottom: 30px;
        border-radius: 3px;
        grid-area: form;
        .btnRegistro {
            width: 100%;
            font-family: monospace;
            outline: none;
            font-size: 16px;
            background: $negro;
            border: none;
            color: $blanco;
            padding: 15px 0;
            cursor: pointer;
            transition: all .5s ease;
            &:hover {
                background-color: $ceniza;
            }
        }
        .formHeader {
            .formTitle {
                grid-column-start: 1;
                grid-column-end: 3;
                font-weight: normal;
                font-family: monospace;
                color: $celeste;
                text-align: center;
                padding: 14px 0;
                span {
                    color: $blanco;
                    font-weight: bolder;
                }
            }
        }
        .formLabel {
            display: block;
            color: $celeste;
            font-size: 16px;
            font-family: monospace;
            position: relative;
        }
        .formInput,
        .formArea {
            background: $negroTransparente;
            border: none;
            outline: none;
            border-bottom: 2px solid $gris;
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            border-radius: 2px;
            font-size: 14px;
            color: $blanco;
            font-family: monospace;
        }
        .formArea {
            resize: vertical;
            max-height: 150px;
            min-height: 50px;
        }
    }
}