* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


/*
 IMPORTS

 */

@import "_footer.scss";
@import "_registro.scss";
@import "_mediaQueries.scss";
@import "_paletaColores.scss";
@import "_inicio.scss";
@import "_novedades.scss";
@import "_empleos.scss";
@import "_banner.scss";
@import "_nosotros.scss";